body {
  box-sizing: border-box;
  font-size: 0.875rem;
}

.line2 {
  position: absolute;
  width: 56.8vw;
  height: 0px;
  left: 10.6vw;
  top: 19.65vw;
  border: 0.063rem solid #ffffff;
}

.line3 {
  position: absolute;
  width: 56.8vw;
  height: 0px;
  left: 10.6vw;
  top: 24.7vw;
  border: 0.063rem solid #ffffff;
}

.line4 {
  position: absolute;
  width: 56.8vw;
  height: 0px;
  left: 10.6vw;
  top: 29.7vw;
  border: 0.063rem solid #ffffff;
}

.line5 {
  position: absolute;
  width: 56.8vw;
  height: 0px;
  left: 10.6vw;
  top: 35vw;
  border: 0.063rem solid #ffffff;
}

.v231_1020 {
  width: 100%;
  height: 100%;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v231_1025 {
  width: 56.82vw;
  height: 28vw;
  left: 10.6vw;
  top: 12.5vw;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v231_1026 {
  width: 56.82vw;
  height: 1.9vw;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 12.6vw;
  left: 10.6vw;
  border-bottom: solid 3px rgba(255, 255, 255, 1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v231_1038 {
  width: 8.2vw;
  height: 5.1vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 18.7vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1039 {
  width: 8.2vw;
  height: 5.1vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 35vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1200 {
  width: 7.8vw;
  height: 5.1vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 43.2vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1040 {
  width: 8vw;
  height: 5.1vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 19.7vw;
  left: 10.6vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1041 {
  width: 7.7vw;
  height: 5.1vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 19.72vw;
  left: 43.3vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1042 {
  width: 8vw;
  height: 5vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 24.8vw;
  left: 27vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1043 {
  width: 8.2vw;
  height: 5vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 24.8vw;
  left: 51vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1044 {
  width: 8.3vw;
  height: 5.2vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 29.8vw;
  left: 35vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1045 {
  width: 8.3vw;
  height: 5.5vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 35vw;
  left: 18.8vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1201 {
  width: 8vw;
  height: 5.5vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 35vw;
  left: 27vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1048 {
  width: 5px;
  color: r;
  position: absolute;
  top: 343px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 0.8vw;
  opacity: 1;
  text-align: left;
}

.date {
  height: 3.8rem;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  width: 15rem;
  left: 15.313rem;
  top: 230px;
  border-radius: 30px 30px 0 0/ 30px 30px 0 0;
}

.v231_1049 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1050 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 343px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1051 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 343px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1052 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1053 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1054 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1055 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1056 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1057 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1058 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 572px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1059 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1060 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 459px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1061 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1062 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1063 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1064 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1065 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 692px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1066 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 810px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1067 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1068 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 572px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1069 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1070 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 810px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1071 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1072 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1073 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1074 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 810px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1075 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 460px;
  left: 255px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1076 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1077 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1078 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 810px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1079 {
  width: 34px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 330px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1080 {
  width: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 510px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1081 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 690px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1082 {
  width: 38px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 880px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1083 {
  width: 33px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1084 {
  width: 24px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1260px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1085 {
  width: 32px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1440px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1086 {
  width: 121px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 250px;
  left: 310px;
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v231_1087 {
  width: 20px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 280px;
}
.v231_1088 {
  width: 10px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 430px;
}
.v231_1089 {
  background: #83e686e6;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1345px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}

.v231_1090 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(250, 232, 76, 0.9);
  opacity: 1;
  top: 235px;
  left: 1402px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.v231_1092 {
  background: #ff8b8be6;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1515px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}
.v231_1093 {
  background: hsl(227, 100%, 73%);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1290px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}
.main {
  position: relative;
}
.main_box {
  position: absolute;
  top: 50%;
  left: 10%;
  margin: auto;
}

.v231_1089:hover,
.v231_1090:hover,
.v231_1091:hover,
.v231_1092:hover,
.v231_1093:hover {
  opacity: 0.8;
}
