body {
  box-sizing: border-box;
  font-size: 0.875rem;
}

.all {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.line2 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 21rem;
  border: 0.063rem solid #ffffff;
}

.line3 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 27.813rem;
  border: 0.063rem solid #ffffff;
}

.line4 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 34.813rem;
  border: 0.063rem solid #ffffff;
}

.line5 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 41.625rem;
  border: 0.063rem solid #ffffff;
}

.line6 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 5.4rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line7 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 13.938rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line8 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 22.313rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line9 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 30.938rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line10 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 39.375rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line11 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 47.813rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line12 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 14.25rem;
  border: 0.063rem solid #ffffff;
}

.v231_1020 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v231_1022 {
  width: 1.493rem;
  height: 1.454rem;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.v231_1023 {
  width: 42px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 44px;
  left: 1345px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1024 {
  width: 4.875rem;
  height: 2.25rem;
  background: url("../images/v231_1024.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2.5rem;
  left: 82.625rem;
  border: 3px solid rgba(160, 160, 160, 1);
  border-top-left-radius: 2.063rem;
  border-top-right-radius: 2.063rem;
  border-bottom-left-radius: 2.063rem;
  border-bottom-right-radius: 2.063rem;
  overflow: hidden;
  cursor: pointer;
}
.v231_1025 {
  width: 59.375rem;
  height: 34.375rem;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 14.25rem;
  left: 15.313rem;
  border: 1px solid rgba(255, 255, 255, 1);
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  overflow: hidden;
}
.v231_1026 {
  width: 59.375rem;
  height: 2.25rem;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 12rem;
  left: 15.313rem;
  border: 0.063rem solid rgba(255, 255, 255, 1);
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v231_1038 {
  width: 8.438rem;
  height: 6.813rem;
  background: #d4f9d8;
  opacity: 1;
  position: absolute;
  top: 14.25rem;
  left: 23.813rem;
  overflow: hidden;
  cursor: pointer;
}
.v231_1039 {
  width: 8.438rem;
  height: 6.813rem;
  background: #81c91d;
  opacity: 1;
  position: absolute;
  top: 14.25rem;
  left: 40.813rem;
  overflow: hidden;
  cursor: pointer;
}
.v231_1040 {
  width: 8.5rem;
  height: 109px;
  background: #c4fbe8;
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 245px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1041 {
  width: 135px;
  height: 109px;
  background: #51ce66;
  opacity: 1;
  position: absolute;
  top: 338px;
  left: 788px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1042 {
  width: 135px;
  height: 109px;
  background: #c0eb75;
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 517px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1043 {
  width: 135px;
  height: 109px;
  background: #37d9a8;
  opacity: 1;
  position: absolute;
  top: 448px;
  left: 924px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1044 {
  width: 135px;
  height: 109px;
  background: #12b886;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 653px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1045 {
  width: 135px;
  height: 110px;
  background: #b5f2b9;
  opacity: 1;
  position: absolute;
  top: 668px;
  left: 382px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1048 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 235px;
  left: 392px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1049 {
  width: 10px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 235px;
  left: 527px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1050 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 235px;
  left: 664px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1051 {
  width: 10px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 235px;
  left: 799px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1052 {
  width: 11px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 235px;
  left: 934px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1053 {
  width: 10px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 235px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1054 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 345px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1055 {
  width: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 455px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1056 {
  width: 18px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 565px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1057 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 345px;
  left: 934px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1058 {
  width: 15px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 455px;
  left: 935px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1059 {
  width: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 564px;
  left: 934px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1060 {
  width: 31px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 799px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1061 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 454px;
  left: 799px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1062 {
  width: 31px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 565px;
  left: 799px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1063 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 345px;
  left: 663px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1064 {
  width: 14px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 455px;
  left: 663px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1065 {
  width: 20px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 565px;
  left: 664px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1066 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 674px;
  left: 663px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1067 {
  width: 11px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 345px;
  left: 527px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1068 {
  width: 16px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 455px;
  left: 527px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1069 {
  width: 19px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 564px;
  left: 527px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1070 {
  width: 20px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 675px;
  left: 528px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1071 {
  width: 10px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 344px;
  left: 392px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1072 {
  width: 15px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 455px;
  left: 392px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1073 {
  width: 19px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 565px;
  left: 392px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1074 {
  width: 38px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 675px;
  left: 392px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1075 {
  width: 9px;
  color: rgba(216, 0, 0, 1);
  position: absolute;
  top: 345px;
  left: 256px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1076 {
  width: 15px;
  color: rgba(216, 0, 0, 1);
  position: absolute;
  top: 455px;
  left: 256px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1077 {
  width: 15px;
  color: rgba(216, 0, 0, 1);
  position: absolute;
  top: 565px;
  left: 256px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1078 {
  width: 20px;
  color: rgba(216, 0, 0, 1);
  position: absolute;
  top: 675px;
  left: 256px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1079 {
  width: 34px;
  color: rgba(216, 0, 0, 1);
  position: absolute;
  top: 198px;
  left: 296px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1080 {
  width: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 429px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1081 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 569px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1082 {
  width: 38px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 710px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1083 {
  width: 33px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 839px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1084 {
  width: 24px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 979px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1085 {
  width: 32px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 198px;
  left: 1111px;
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_1086 {
  width: 121px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 139px;
  left: 300px;
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v231_1087 {
  width: 10px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 245px;
}
.v231_1088 {
  width: 10px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 144px;
  left: 456px;
}
.v231_1089 {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(84, 213, 89, 0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 1212px;
  border-radius: 50%;
  border-style: solid;
  border-color: #fff;
  cursor: pointer;
}
.v231_1090 {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(246, 225, 36, 0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 1215px;
  border-radius: 50%;
  cursor: pointer;
}
.v231_1091 {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 140, 35, 0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 1215px;
  border-radius: 50%;
  cursor: pointer;
}
.v231_1092 {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 58, 58, 0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 1215px;
  border-radius: 50%;
  cursor: pointer;
}
.v231_1093 {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(0, 56, 255, 0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 1215px;
  border-radius: 50%;
  cursor: pointer;
}
