body {
  box-sizing: border-box;
  font-size: 0.875rem;
}

.nav {
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
}

.line2 {
  position: absolute;
  width: 1310px;
  height: 0px;
  left: 15.313rem;
  top: 455px;
  border: 0.063rem solid #ffffff;
}

.line3 {
  position: absolute;
  width: 1310px;
  height: 0px;
  left: 15.313rem;
  top: 567px;
  border: 0.063rem solid #ffffff;
}

.line4 {
  position: absolute;
  width: 1310px;
  height: 0px;
  left: 15.313rem;
  top: 685px;
  border: 0.063rem solid #ffffff;
}

.line5 {
  position: absolute;
  width: 1310px;
  height: 0px;
  left: 15.313rem;
  top: 805px;
  border: 0.063rem solid #ffffff;
}

.line6 {
  position: absolute;
  width: 1310px;
  height: 0px;
  left: 5.4rem;
  top: px;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line7 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 13.938rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line8 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 22.313rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line9 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 30.938rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line10 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 39.375rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line11 {
  position: absolute;
  width: 36.625rem;
  height: 0px;
  left: 47.813rem;
  top: 30.313rem;
  border: 0.063rem solid #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

.line12 {
  position: absolute;
  width: 59.375rem;
  height: 0px;
  left: 15.313rem;
  top: 14.25rem;
  border: 0.063rem solid #ffffff;
}

.v231_1020 {
  width: 100%;
  height: 100%;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v231_1022 {
  width: 1.493rem;
  height: 1.454rem;
  color: #ffffff;
  opacity: 1;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
}

.logo {
  width: 5rem;
  height: 2.7rem;
  margin-top: 15px;
  margin-left: 400px;
}
.v231_1023 {
  width: 50px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 1360px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
  letter-spacing: 1px;
  cursor: pointer;
}
.v231_1300 {
  width: 50px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 1155px;
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
  letter-spacing: 1px;
  cursor: pointer;
}
.v231_1301 {
  width: 50px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 20px;
  left: 1500px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 19px;
  opacity: 1;
  text-align: left;
  letter-spacing: 1px;
  cursor: pointer;
}
.account {
  width: 2.5rem;
  height: 2.5rem;
  top: 15px;
  margin-left: 1750px;
  position: absolute;
  cursor: pointer;
}

.v231_1024 {
  width: 6rem;
  height: 2.3rem;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 1153px;
  border-bottom: 3px solid #fff;
  overflow: hidden;
  cursor: pointer;
}
.v231_1025 {
  width: 1310px;
  height: 600px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 245px;

  overflow: hidden;
}
.v231_1026 {
  width: 1310px;
  height: 45px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 245px;
  border-bottom: solid 3px rgba(255, 255, 255, 1);

  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v231_1038 {
  width: 190px;
  height: 119px;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 432px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1039 {
  width: 190px;
  height: 119px;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 805px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1200 {
  width: 180px;
  height: 119px;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 336px;
  left: 995px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1040 {
  width: 185px;
  height: 115px;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 245px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1041 {
  width: 179px;
  height: 114px;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 996px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1042 {
  width: 184px;
  height: 115px;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 623px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1043 {
  width: 185px;
  height: 116px;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 1175px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1044 {
  width: 186px;
  height: 120px;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 687px;
  left: 807px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1045 {
  width: 192px;
  height: 127px;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 431px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1201 {
  width: 185px;
  height: 128px;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 807px;
  left: 623px;
  overflow: hidden;
  cursor: pointer;
}
.v231_1048 {
  width: 5px;
  color: r;
  position: absolute;
  top: 343px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}

.date {
  height: 3.8rem;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  width: 15rem;
  left: 15.313rem;
  top: 230px;
  border-radius: 30px 30px 0 0/ 30px 30px 0 0;
}

.v231_1049 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1050 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 343px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1051 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 343px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1052 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1053 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 343px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1054 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1055 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1056 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1375px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1057 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1058 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 572px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1059 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1185px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1060 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 459px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1061 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1062 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 1002px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1063 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1064 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1065 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 692px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1066 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 810px;
  left: 815px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1067 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1068 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 572px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1069 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1070 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 810px;
  left: 630px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1071 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 459px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1072 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1073 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1074 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 810px;
  left: 440px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1075 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 460px;
  left: 255px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1076 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 572px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1077 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 692px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1078 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 810px;
  left: 256px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1079 {
  width: 34px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 330px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1080 {
  width: 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 510px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1081 {
  width: 30px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 690px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1082 {
  width: 38px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 880px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1083 {
  width: 33px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1070px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1084 {
  width: 24px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1260px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1085 {
  width: 32px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 300px;
  left: 1440px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v231_1086 {
  width: 121px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 250px;
  left: 310px;
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v231_1087 {
  width: 20px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 280px;
}
.v231_1088 {
  width: 10px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 250px;
  left: 430px;
}
.v231_1089 {
  background: #83e686e6;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1345px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}

.v231_1090 {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(250, 232, 76, 0.9);
  opacity: 1;
  top: 235px;
  left: 1402px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
}

.v231_1091 {
  background: rgba(255, 182, 113, 0.9);
  opacity: 1;
  top: 235px;
  left: 1460px;
  position: absolute;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}
.v231_1092 {
  background: #ff8b8be6;
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1515px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}
.v231_1093 {
  background: hsl(227, 100%, 73%);
  opacity: 1;
  position: absolute;
  top: 235px;
  left: 1290px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 40px;
  height: 40px;
}
.main {
  position: relative;
}
.main_box {
  position: absolute;
  top: 50%;
  left: 10%;
  margin: auto;
}

.v231_1089:hover,
.v231_1090:hover,
.v231_1091:hover,
.v231_1092:hover,
.v231_1093:hover {
  opacity: 0.8;
}
