@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;600;700;900&family=Poppins:wght@200;300;400;500;600;700;800&family=Yeon+Sung&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
}

.menu-bar {
  height: 6.11vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  justify-content: space-between;
}

.likelion {
  width: 56.1806vw;
  height: 6.11vh;
  text-align: center;
}

.likelion > img {
  height: 1.5278vw;
  width: 3.4722vw;
  margin: 1.1111vw 31.1806vw 0 21.5278vw;
}

.bt {
  width: 22.2917vw;
  padding: 0.9722vw 0 0.9722vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.calender {
  width: 5.8333vw;
  height: 1.875vw;
}

.folder {
  width: 3.8194vw;
  height: 1.875vw;
}

.post {
  width: 2.9167vw;
  height: 1.875vw;
}

.button a {
  color: inherit;
  text-decoration: none;
}

.calender:hover,
.folder:hover,
.post:hover {
  opacity: 0.8;
}

.vector {
  width: 21.5278vw;
  color: #ffffff;
  padding: 0.8333vw 1.3889vw 0 0;
}

.vector > img {
  width: 2.0833vw;
  height: 2.0833vw;
  float: right;
}

.calender {
  text-decoration: underline;
  text-decoration-color: white;
}

.line2 {
  position: absolute;
  width: 56.7vw;
  height: 0px;
  left: 10.6vw;
  top: 21vw;
  border: 0.063rem solid #ffffff;
}

.line3 {
  position: absolute;
  width: 56.7vw;
  height: 0px;
  left: 10.6vw;
  top: 27.4vw;
  border: 0.063rem solid #ffffff;
}

.line4 {
  position: absolute;
  width: 56.7vw;
  height: 0px;
  left: 10.6vw;
  top: 33.9vw;
  border: 0.063rem solid #ffffff;
}

.line5 {
  position: absolute;
  width: 56.7vw;
  height: 0px;
  left: 10.6vw;
  top: 40.5vw;
  border: 0.063rem solid #ffffff;
}

.v231_1020 {
  width: 100%;
  height: 100%;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v231_1025 {
  width: 56.82vw;
  height: 34.5vw;
  left: 10.6vw;
  top: 12.5vw;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  overflow: hidden;
}
.v231_1026 {
  width: 56.82vw;
  height: 1.9vw;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  position: absolute;
  top: 12.6vw;
  left: 10.6vw;
  border-bottom: solid 2.5px rgba(255, 255, 255, 1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v231_1038 {
  width: 8.2vw;
  height: 6.5vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 18.7vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1039 {
  width: 8.2vw;
  height: 6.5vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 35vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1200 {
  width: 7.8vw;
  height: 6.5vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 14.6vw;
  left: 43vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1040 {
  width: 8.1vw;
  height: 6.5vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 21vw;
  left: 10.6vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1041 {
  width: 7.7vw;
  height: 6.5vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 21vw;
  left: 43vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1042 {
  width: 8vw;
  height: 6.5vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 40.5vw;
  left: 26.8vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1043 {
  width: 8.2vw;
  height: 6.5vw;
  background: #ffde50;
  opacity: 1;
  position: absolute;
  top: 27.4vw;
  left: 51vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1044 {
  width: 8.3vw;
  height: 6.5vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 27.4vw;
  left: 26.8vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1045 {
  width: 8.3vw;
  height: 6.5vw;
  background: #ffe68c;
  opacity: 1;
  position: absolute;
  top: 40.5vw;
  left: 18.8vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1201 {
  width: 8vw;
  height: 6.5vw;
  background: #fff3bf;
  opacity: 1;
  position: absolute;
  top: 34vw;
  left: 34.8vw;
  overflow: hidden;
  cursor: pointer;
}
.v231_1048 {
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 15vw;
  left: 19.2vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}

.date {
  height: 2.5vw;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  width: 12vw;
  left: 10.6vw;
  top: 10vw;
  border-radius: 30px 30px 0 0/ 30px 30px 0 0;
}

.v231_1049 {
  width: 12vw;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15vw;
  left: 27.3vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  text-align: left;
}
.v231_1050 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 15vw;
  left: 35.4vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  text-align: left;
}
.v231_1051 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 15vw;
  left: 43.7vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1052 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15vw;
  left: 51.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1053 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 15vw;
  left: 59.6vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1054 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.3vw;
  left: 59.6vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1055 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 27.8vw;
  left: 59.6vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1056 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 59.7vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1057 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.3vw;
  left: 51.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1058 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 27.8vw;
  left: 51.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1059 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 51.4vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1060 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  width: 5px;
  position: absolute;
  top: 21.3vw;
  left: 43.7vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1061 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 27.8vw;
  left: 43.8vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1062 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 43.7vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1063 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.3vw;
  left: 35.4vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  opacity: 1;
  text-align: left;
}
.v231_1064 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 27.8vw;
  left: 35.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1065 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 34.2vw;
  left: 35.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1066 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 40.8vw;
  left: 35.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1067 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.3vw;
  left: 27.2vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  opacity: 1;
  text-align: left;
}
.v231_1068 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 27.8vw;
  left: 27.5vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1069 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 27.4vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1070 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 40.8vw;
  left: 27.4vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1071 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.3vw;
  left: 19.2vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1072 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 27.8vw;
  left: 19.2vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1073 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 19.2vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1074 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 40.8vw;
  left: 19.1vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1075 {
  width: 5px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 21.3vw;
  left: 11vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1076 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 27.8vw;
  left: 11vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1077 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 34.2vw;
  left: 11vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1078 {
  width: 5px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 40.8vw;
  left: 11vw;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1vw;
  opacity: 1;
  text-align: left;
}
.v231_1079 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 13.7vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1080 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 21.8vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1081 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 30vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1082 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 38vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1083 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 46vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1084 {
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 54vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1085 {
  width: 32px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 13vw;
  left: 61.6vw;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1086 {
  height: 2.5vw;
  position: absolute;
  width: 12vw;
  left: 13.7vw;
  top: 11vw;
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  font-weight: Bold;
  font-size: 0.9vw;
  opacity: 1;
  text-align: left;
}
.v231_1087 {
  height: 2.5vw;
  position: absolute;
  width: 12vw;
  left: 12vw;
  top: 11vw;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
}
.v231_1088 {
  height: 2.5vw;
  position: absolute;
  width: 12vw;
  left: 20vw;
  top: 11vw;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
}
.v231_1089 {
  background: #83e686e6;
  opacity: 1;
  position: absolute;
  top: 9.8vw;
  left: 60.5vw;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 2vw;
  height: 2vw;
}

.v231_1090 {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: rgba(250, 232, 76, 0.9);
  opacity: 1;
  top: 9.8vw;
  left: 63vw;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.v231_1092 {
  background: #ff8b8be6;
  opacity: 1;
  position: absolute;
  top: 9.8vw;
  left: 65.5vw;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 2vw;
  height: 2vw;
}
.v231_1093 {
  background: hsl(227, 100%, 64%);
  opacity: 1;
  position: absolute;
  top: 9.8vw;
  left: 58vw;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.1s;
  width: 2vw;
  height: 2vw;
}
.main {
  position: relative;
}
.main_box {
  position: absolute;
  top: 50%;
  left: 10%;
  margin: auto;
}

.v231_1089:hover,
.v231_1090:hover,
.v231_1091:hover,
.v231_1092:hover,
.v231_1093:hover {
  opacity: 0.8;
}

.box {
  width: 8vw;
}

.pad {
  padding-top: 3vw;
}
