.menu-bar {
    height: 6.11vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

.likelion {
    width: 45vw;
    text-align: center;
    margin: auto;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 2.43vh;
    font-weight: 700;
    font-family: 'poppins';
    margin: auto;
    
}

.button a {
    color: inherit;
}

.calender:hover, .folder:hover, .post:hover {
    opacity: 0.8;
}

.space {
    width: 8vw;
}

.vector {
    width: 3vw;
    color: #FFFFFF;
    margin: 0.5vw 0 0.5vw 4.11vw;
}

.vector > img {
    width: 2.08vw;
    height: 2.08vw;
    margin: auto;
}

.folder {
    text-decoration: underline;
    text-decoration-color: white;
}

