@import url("folder.css");
@import url("folder_menu.css");
@import url("folder_post.css");


/* reset style */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.frame {
  background-color: black;
}

.slack {
  height: 8.8vh;
}

.pages {
  margin: auto;
}

/* card layout */
.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 85.1vw;
  height: 78vh;
}
.card-wrapper > .card {
  width: 2.6vw; /*숨겨진 카드의 보이는 넓이*/
  height: 76vh; /*카드 높이*/
  overflow: hidden;
  background-color: beige;
  box-shadow: -2px 0 4px 0 rgba(0, 0, 0, 0.5);
  padding: 2vh;
  transition: width 0.4s ease-in-out;
  font-size: 2vh;
  line-height: 3vh;
  cursor: pointer;
}
.card-wrapper > .card.active {
  width: 20vw;
  opacity: 1;
  margin-bottom: 2vh;
}

/* image style */
.card-wrapper > .card {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.date {
  font-weight: 700;
  line-height: 3.05vh;
  margin: 0.92vh;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

/*down side area*/
.down-bar {
  height: 8.8vh;
}

/*page*/
.card.page1 {
  background-color: #fef9db;
}
.card.page2 {
  background-color: #ffd437;
}
.card.page3 {
  background-color: #fced9d;
}
.card.page4 {
  background-color: #fcc419;
}
.card.page5 {
  background-color: #f08c00;
}
.card.page6 {
  background-color: #fde067;
}
.card.page7 {
  background-color: #fef9db;
}
.card.page8 {
  background-color: #e77701;
}
.card.page9 {
  background-color: #fcc419;
}
.card.page10 {
  background-color: #ffd437;
}
.card.page11 {
  background-color: #fff3bf;
}
.card.page12 {
  background-color: #ffd437;
}
.card.page13 {
  background-color: #e77701;
}
.card.page14 {
  background-color: #fbb005;
}
.card.page15 {
  background-color: #fff3bf;
}
.card.page16 {
  background-color: #fced9d;
}
.card.page17 {
  background-color: #ffd437;
}
.card.page18 {
  background-color: #fde067;
}
.card.page19 {
  background-color: #f08c00;
}
.card.page20 {
  background-color: #fde067;
}
.card.page21 {
  background-color: #e77701;
}
.card.page22 {
  background-color: #ffd437;
}
.card.page23 {
  background-color: #fced9d;
}
.card.page24 {
  background-color: #fef9db;
}
.card.page25 {
  background-color: #fde067;
}
.card.page26 {
  background-color: #fced9d;
}
