/* 네브 바 */
.menu-bar {
  height: 6.11vh;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin: -0.7vw 0 8.5vw -23vw;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  z-index: 100;
}

.likelion {
  width: 56.1806vw;
  height: 6.11vh;
  text-align: center;
}

.likelion > img {
  height: 1.5278vw;
  width: 3.4722vw;
  margin: 1.1111vw 31.1806vw 0 21.5278vw;

}

.bt {
  width: 22.2917vw;
  padding: 0.9772vw 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25vw;
  font-weight: 700;
  font-family: 'Poppins-Bold';
}

.calender {
  width: 5.8333vw;
  height: 1.8750vw;
}

.folder {
  width: 3.8194vw;
  height: 1.8750vw;

}

.post {
  width: 2.9167vw;
  height: 1.8750vw;

}

.button a {
  color: inherit;
  text-decoration: none;
}

.calender:hover, .folder:hover, .post:hover {
  opacity: 0.8;
}


.vector {
  width: 21.5278vw;
  color: #FFFFFF;
  padding: 0vw 1.3889vw 0 0;
}

.vector > img {
  width: 2.0833vw;
  height: 2.0833vw;
  float: right;
}


.post {
  text-decoration: underline;
  text-decoration-color: white;
}


/* 폴더 선택  */
.movButton{
  display: flex; 
  flex-direction: column;
  align-items: center;

  cursor: pointer;
  /* margin: 0.1vw;; */
}

.folder-select{
  display: flex;
  justify-content: center;
  width: 12vw;
  height: 12vw;
}

.movButton:hover .fol{
  visibility: visible;
}

.fol{
  width: 2vw;
  height: 2vw;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}


.folderIndv{
  width: 1.5vw;
  height: 1.5vw;
  margin : 3vw 0.2vw 0 0.2vw;

  border-radius: 50%;
  box-shadow: 0.3vw 0.6vw 0.6vw rgba(55, 55, 55, 0.1);
  border: solid 0.03vw rgba(255, 255, 255, 0.5);

  cursor: pointer;
}

.blueFolder{
  background-color: rgba(0, 56, 255, 0.5);
}
.greenFolder{
  background-color: rgba(85, 214, 90, 0.5);
}
.yellowFolder{
  background-color: rgba(247, 226, 37, 0.5);
}
.redFolder{
  background-color: rgba(255, 58, 58, 0.5);
}

.bf:hover .blueFolder{
  background-color: rgba(0, 56, 255, 1);
}

.gf:hover .greenFolder{
  background-color: rgba(85, 214, 90, 1);
}

.yf:hover .yellowFolder{
  background-color: rgba(247, 226, 37, 1);
}

.rf:hover .redFolder{
  background-color: rgba(255, 58, 58, 1);
}



