/* 네브 바 */
.menu-bar {
  height: 6.11vh;
  /* max-width: 100%; */
  width: 100vw;
  margin-left: calc(-50vw + 50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;

  /* padding: 0 0 2.7778vw 0; */
  margin: -0.7vw 0 8.5vw -23vw;
}

.likelion {
  width: 45vw;
  color: white;
  font-size: 2.43vh;
  /* font-weight: 700; */
  font-family: 'Poppins-Bold';
  text-align: center;
  margin: auto;
}

.button {
  color: white;
  font-size: 2.43vh;
  /* font-weight: 700; */
  font-family: 'Poppins-Bold';
  margin: auto;
}

.space {
  width: 12vw;
}
.post{
  text-decoration: underline;
}

.vector {
  width: 3vw;
  color: white;
  margin: 0.5vw 0 0.5vw 4.11vw;
}

.vector > img {
  width: 2.08vw;
  height: 2.08vw;
  margin: auto;
}

.folder {
  text-decoration-color: white;
}


.button:hover{
  opacity: 0.8;
}


