@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Yeon+Sung&display=swap");

body {
  background-color: #fff3bf;
  flex-grow: 0;
  left: fixed;
  right: fixed;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0%;
}

.all {
  padding: 13vw 21.5278vw 3vw;
}

html {
  font-size: 62.5%;
}

.menu-bar {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  justify-content: space-between;
}

.likelion {
  width: 56.1806vw;
  height: 6.11vh;
  text-align: center;
}

.likelion > img {
  height: 1.5278vw;
  width: 3.4722vw;
  margin: 1.1111vw 31.1806vw 0 21.5278vw;
}

.bt {
  width: 22.2917vw;
  padding: 0.9722vw 0 0.9722vw 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25vw;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.calender {
  width: 5.8333vw;
  height: 1.875vw;
}

.folder {
  width: 3.8194vw;
  height: 1.875vw;
}

.post {
  width: 2.9167vw;
  height: 1.875vw;
}

.button a {
  color: inherit;
  text-decoration: none;
}

.calender:hover,
.folder:hover,
.post:hover {
  opacity: 0.8;
}

.vector {
  width: 21.5278vw;
  color: #ffffff;
  padding: 0.8333vw 1.3889vw 0 0;
}

.vector > img {
  width: 2.0833vw;
  height: 2.0833vw;
  float: right;
}

.deco {
  display: flex;
  padding: 0 23.3333vw 0 0;
  position: relative;
  height: 3vw;
}

.maincolor {
  background-color: rgba(0, 0, 0, 1);
  width: 12vw;
  height: 3.125vw;
  border: solid 0.0694vw transparent;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  cursor: pointer;
}

.maincolor > p {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  font-weight: 550;
  width: 12vw;
  height: 1.6667vw;
  margin: 0 0.6944vw 0 0;
  font-size: 1.1111vw;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 1vw;
  padding-left: 2.5vw;
}
.maincolor > .colorbox {
  position: absolute;
  top: 1.55vw;
  left: 9.3vw;
  width: 0.8vw;
  height: 0.8vw;
  background-color: #fff3bf;
}

.prev {
  background-color: rgba(0, 0, 0, 1);
  width: 12vw;
  height: 3.125vw;
  border: solid 0.0694vw transparent;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  cursor: pointer;
}
.prev > p {
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  font-weight: 550;
  width: 12vw;
  height: 1.6667vw;
  margin: 0 0.6944vw 0 0;
  font-size: 1.1111vw;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top: 1vw;
}
.next {
  background-color: rgba(0, 0, 0, 1);
  width: 12vw;
  height: 3.125vw;
  border: solid 0.0694vw transparent;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  cursor: pointer;
}
.next > p {
  font-weight: 550;
  color: rgba(255, 255, 255, 1);
  font-family: "Poppins";
  width: 12vw;
  height: 1.6667vw;
  margin: 0 0.6944vw 0 0;
  font-size: 1.1111vw;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  padding-top: 1vw;
}
.textBox {
  background-color: #000;
  height: 62.5vw;
  border: solid 0.0694vw transparent;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkmo {
  position: absolute;
}

body.dark .textBox {
  background: #fff;
  border: solid 1px #fff;
}

body.dark .posting {
  background: #fff;
}

body.dark h3 {
  color: #000;
}

body.dark .textBox .date {
  color: #a0a0a0;
}

body.dark .textBox .change {
  color: #a0a0a0;
}

body.dark .posting p {
  color: #000000;
}

body.dark .maincolor {
  background-color: #fff;
}
body.dark .maincolor p {
  color: #000000;
}
body.dark .prev {
  background-color: #fff;
}
body.dark .prev p {
  color: #000000;
}
body.dark .next {
  background-color: #fff;
}
body.dark .next p {
  color: #000000;
}
body.dark .label {
  background-color: #c7c7c7;
}

.label {
  top: -1.1vw;
  left: 39.8vw;
  width: 1.8vw;
  height: 1.05vw;
  background-color: #474747;
  border-radius: 50px;
  transform: scale(1.5);
  position: absolute;
  cursor: pointer;
}

.ball {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  width: 0.8vw;
  height: 0.8vw;
  top: 0.15vw;
  left: 0.15vw;
  transition: transform 0.2s ease-out;
}

.checkbox:checked + .label .ball {
  transform: translateX(14px);
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.posting {
  font-family: "NotoSansKR";
  position: absolute;
  width: 42vw;
  height: 3.125vw;
  padding-top: 2vw;
}

.posting > p {
  text-align: justify;
  line-height: 1.75vw;
  font-family: "NotoSansKR";
  color: #ffffff;
  font-size: 0.85vw;
}

.posting > h3 {
  font-family: "NotoSansKR";
  line-height: 4vw;
  border-bottom: solid 2px rgb(201, 201, 201);
  font-size: 1.1vw;
  font-weight: bold;
  color: #ffffff;
}

.posting > span.date {
  font-family: "NotoSansKR";
  font-weight: 100;
  font-size: 0.9vw;
  color: #ffffff;
}

.posting > span.change {
  font-family: "NotoSansKR";
  position: absolute;
  font-weight: 100;
  font-size: 0.9vw;
  color: #ffffff;
  left: 34vw;
  cursor: pointer;
}

.pic {
  width: 42vw;
  position: relative;
  top: 3vw;
}

.star_pink {
  position: absolute;
  width: 7vw;
  left: -5.8vw;
  top: 29.5vw;
}

.star_green {
  position: absolute;
  width: 11vw;
  left: -6vw;
  top: 29.5vw;
}

.star_orange {
  position: absolute;
  width: 10vw;
  right: 0.1vw;
  bottom: -55vw;
}
