/* 영어 */
@font-face {
  font-family: "Poppins-Black";
  src: url("Poppins-Black.woff") format("woff");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("Poppins-Medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins-MediumItalic";
  src: url("Poppins-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("Poppins-Bold.woff") format("woff");
}

@font-face {
  font-family: "Poppins-BoldItalic";
  src: url("Poppins-BoldItalic.woff") format("woff");
}

/* 한글 */
@font-face {
  font-family: "SCDream8";
  src: url("SCDream8.woff") format("woff");
}

@font-face {
  font-family: "SCDream4";
  src: url("SCDream4.woff") format("woff");
}
