<!DOCTYPE html>

<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link rel="stylesheet" href="../static/css/calendar_blue.css" />
  </head>
  <body>
    <div class="v231_1020">
      <div class="menu-bar">
        <div class="likelion"><img src="../static/img/logo.png" /></div>
        <div class="bt">
          <div class="button calender">
            <a href="calendar_yellow.html">calender</a>
          </div>
          <div class="button post"><a href="post.html">post</a></div>
          <div class="button folder"><a href="folder.html">folder</a></div>
        </div>
        <div class="vector"><img  onclick='location.href = "main.html"' src="../static/img/account.png" /></div>
      </div>
    <div class ="pad">
      <div class="main">
        <div class="main_box">
          <div class="v231_1025"></div>
          <div class="v231_1026"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="name"></div>
          <div class="v231_1038 box"></div>
          <div class="v231_1039 box"></div>
          <div class="v231_1040 box"></div>
          <div class="v231_1041 box"></div>
          <div
            onclick='location.href = "post_detail_blue.html"'
            class="v231_1042 box"
          ></div>
          <div class="v231_1043 box"></div>
          <div class="v231_1044 box"></div>
          <div class="v231_1045 box"></div>
          <div class="v231_1046 box"></div>
          <div class="v231_1047 box"></div>
          <div class="v231_1200 box"></div>
          <div class="v231_1201 box"></div>
          <div  onclick='location.href = "post.html"' class="v231_1202 box"></div>
          <div class="line2"></div>
          <div class="line3"></div>
          <div class="line4"></div>
          <div class="line5"></div>
          <div class="date"></div>
          <span class="v231_1048">1</span>
          <span class="v231_1049">2</span>
          <span class="v231_1050">3</span>
          <span class="v231_1051">4</span>
          <span class="v231_1052">5</span>
          <span class="v231_1053">6</span>
          <span class="v231_1054">13</span>
          <span class="v231_1055">20</span>
          <span class="v231_1056">27</span>
          <span class="v231_1057">12</span>
          <span class="v231_1058">19</span>
          <span class="v231_1059">26</span>
          <span class="v231_1060">11</span>
          <span class="v231_1061">18</span>
          <span class="v231_1062">25</span>
          <span class="v231_1063">10</span>
          <span class="v231_1064">17</span>
          <span class="v231_1065">24</span>
          <span class="v231_1066">31</span>
          <span class="v231_1067">9</span>
          <span class="v231_1068">16</span>
          <span class="v231_1069">23</span>
          <span class="v231_1070">30</span>
          <span class="v231_1071">8</span>
          <span class="v231_1072">15</span>
          <span class="v231_1073">22</span>
          <span class="v231_1074">29</span>
          <span class="v231_1075">7</span>
          <span class="v231_1076">14</span>
          <span class="v231_1077">21</span>
          <span class="v231_1078">28</span>
          <span class="v231_1079">SUN</span>
          <span class="v231_1080">MON</span>
          <span class="v231_1081">TUE</span>
          <span class="v231_1082">WED</span>
          <span class="v231_1083">THU</span>
          <span class="v231_1084">FRI</span>
          <span class="v231_1085">SAT</span>

          <span class="v231_1086">AUGUST 2022</span>
          <div class="v231_1087">
            <span class="material-symbols-outlined"> chevron_left </span>
          </div>
          <div class="v231_1088">
            <span class="material-symbols-outlined"> chevron_right </span>
          </div>

          <div class="v231_1089"></div>

          <div
            onclick='location.href = "calendar_yellow.html"'
            class="v231_1090"
          ></div>
          <div class="v231_1091"></div>
          <div class="v231_1092"></div>
          <div class="v231_1093"></div>
        </div>
      </div>
    </div>
  
  </body>
</html>
