<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물결과</title>
    <link rel="stylesheet" href="../static/css/set_font.css">
    <link rel="stylesheet" href="../static/css/post_detail_navbar.css">
    <link rel="stylesheet" href="../static/css/post_detail_tab.css">
    <link rel="stylesheet" href="../static/css/post_detail.css">


    <script src="../static/js/palette.js"></script>
    <script src="../static/js/open-close-tab.js"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    

</head>
<body>

    <nav></nav>
    <div class="head-section">
        <div class="head-s-c">
            <div class="logo">like lion</div>
            <div class="savingButton">
                <div id="Button" class="Save">edit</div>
            </div>
            <div class="uploadingButton">
                <div id="Button" class="Upload">delete</div> 
            </div>  
        </div>
    </div>
                   
                    <!-- 색&스티커&이미지 탭 (모달) -->
                    <div class="tab-bar">
                        <div class="TabBar" id="color-bar">
                            <div id="tab-bar-header" class="color-bar-header">
                                <div id="tab-bar-text" class="color-bar-text"> 오늘의 색 </div>
                                <span id="closeButton" class="material-symbols-outlined" onclick="closeTabC()">close</span>
                            </div>
                            <div id="color-bar-palette" class="color-bar-palette"> </div>
                        </div>

                        <!-- <div class="TabBar" id="sticker-bar"></div>
                        <div class="TabBar" id="image-bar"></div> -->
            
                        <!-- invisible하게 -->
                        <div class="TabBar" id="sticker-bar">
                            <div id="tab-bar-header" class="sticker-bar-header">
                                <div id="tab-bar-text" class="sticker-bar-text"> 스티커 </div>
                                <span id="closeButton" class="material-symbols-outlined" onclick="closeTabS()">close</span>
                            </div>
                            <div id="sticker-bar-palatte" class="color-bar-palette"> </div>
                        </div>
                        
                        
                        <div class="TabBar" id="image-bar">
                            <div id="tab-bar-header" class="image-bar-header">
                                <div id="tab-bar-text" class="image-bar-text"> 사진 </div>
                                <span id="closeButton" class="material-symbols-outlined" onclick="closeTabI()">close</span>
                            </div>
                            <div id="image-bar-palatte" class="color-bar-palette"> </div>
                        </div> 
                    </div>
                    
                    </div>

                
                    
                    
                <div class="textBox">
                    <div class="post">
                        <h3>말랑한 마음의 계절</h3>
                        <img class="star" src="../static/img/6 (1).png">
                        <span class="date">2022. 8. 5. 20:08</span>
                        <p>오랜만에 고등학교 친구들을 만났다. 그동안 다들 바빠서 한동안 못 만났는데 오랜만에 다같이 만나서 반가웠다 ! 일산에서 모여서 저녁 먹고 호수공원 산책했다. 회전초밥 마냥 돌돌돌돌… 여유롭게 한 세 시간 정도 산책한 것 같다. 걸으면서 노래도 듣고 그동안 밀린 썰도 풀고 알차게 보냈다.</p>
                        <p>이 날의 대화 토픽은 k-pop 광인들의 최애곡 소개와 각자 지난 학기에 들었던 끝장나는 과목들 이야기 .. 누가 더 극악무도한 수업을 들었는가 .. 얘기하다가 너무 웃겨서 날아가는 줄 알았다. </p>
                        <p>날씨도 막 덥지 않고 딱 좋았고 해 지는 게 너무 예뻐서 뭔가 마음이 말랑말랑 기분이 좋았다. 편한 사람들이랑 있어서 그런가 그냥 분위기 자체가 편안하고 기분 좋았던 것 같당 온도.. 습도.. 조명.. 퍼펙트 ~</p>
                        <p>고등학교 때 저녁 먹고 다같이 산책하던 생각도 나고 이렇게 막 헛소리 주고받으면서 대화하는게 너무 오랜만이라 즐거웠다. 8월의 저녁은 사람을 말랑말랑하게 맹근다. 다들 말랑말랑한 여름 보내시길 !</p> 
                        <img class="pic" src="../static/img/237.png">
                        <img class="star_purple" src="../static/img/5.png">
                        <img class="star_yellow" src="../static/img/20.png">
                        
                        
                        
            </div>

           
        

                </div>

           
        </div>
    </div>

    </body>
</html>