<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/post_detail_blue.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <script defer src="../static/js/post_detail.js"></script>
  </head>
  <body>
    <div class="all">
      <div class="menu-bar">
        <div class="likelion"><img src="../static/img/logo.png" /></div>
        <div class="bt">
          <div class="button calender"><a href="">calender</a></div>
          <div class="button post"><a href="post.html">post</a></div>
          <div class="button folder"><a href="folder.html">folder</a></div>
        </div>
        <div class="vector"><img src="../static/img/account.png" /></div>
      </div>
      <div class="maincolor">
        <p>main color</p>
        <div class="colorbox"></div>
      </div>
      <div class="prev">
        <p>prev</p>
      </div>
      <div class="next">
        <p>next</p>
      </div>
      <div class="textBox">
        <div class="post">
          <h3>말랑한 마음의 계절</h3>
          <span class="date">2022. 8. 16. 20:08</span>
          <div class="darkmo">
            <input type="checkbox" class="checkbox" id="checkbox" />
            <label for="checkbox" class="label">
              <div class="ball"></div>
            </label>
          </div>
          <span class="change">수정 | 삭제</span>
          <p>
            오랜만에 고등학교 친구들을 만났다. 그동안 다들 바빠서 한동안 못
            만났는데 오랜만에 다같이 만나서 반가웠다 ! 일산에서 모여서 저녁 먹고
            호수공원 산책했다. 회전초밥 마냥 돌돌돌돌… 여유롭게 한 세 시간 정도
            산책한 것 같다. 걸으면서 노래도 듣고 그동안 밀린 썰도 풀고 알차게
            보냈다.
          </p>
          <p>
            이 날의 대화 토픽은 k-pop 광인들의 최애곡 소개와 각자 지난 학기에
            들었던 끝장나는 과목들 이야기 .. 누가 더 극악무도한 수업을 들었는가
            .. 얘기하다가 너무 웃겨서 날아가는 줄 알았다.
          </p>
          <p>
            날씨도 막 덥지 않고 딱 좋았고 해 지는 게 너무 예뻐서 뭔가 마음이
            말랑말랑 기분이 좋았다. 편한 사람들이랑 있어서 그런가 그냥 분위기
            자체가 편안하고 기분 좋았던 것 같당 온도.. 습도.. 조명.. 퍼펙트 ~
          </p>
          <p>
            고등학교 때 저녁 먹고 다같이 산책하던 생각도 나고 이렇게 막 헛소리
            주고받으면서 대화하는게 너무 오랜만이라 즐거웠다. 8월의 저녁은
            사람을 말랑말랑하게 맹근다. 다들 말랑말랑한 여름 보내시길 !
          </p>
          <img class="pic" src="../static/img/Rectangle 237.png" />
          <img class="star_green" src="../static/img/Star 2.png" />
          <img class="star_pink" src="../static/img/Star 6 (2).png" />
          <img class="star_orange" src="../static/img/Star 20 (1).png" />
        </div>
      </div>
    </div>
  </body>
</html>
